body {
  background-color: #edeff2;
  font-family: 'Open Sans', sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #676770;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #676770;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #676770;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #69b9ff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  display: block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.navigation-link {
  display: inline-block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.navigation-link:hover {
  color: hsla(0, 0%, 100%, .7);
}

.navigation-link:focus {
  color: #fff;
}

.navigation-link.w--current {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: rgba(0, 0, 0, .9);
}

.navigation-link.w--current:hover {
  color: rgba(0, 0, 0, .9);
}

.navigation-link.about {
  color: #676770;
}

.navigation-bar {
  position: static;
  display: block;
  width: 100%;
  margin-bottom: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  background-image: none;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.navigation-menu {
  color: #f56972;
}

.brand-text {
  display: block;
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, .7);
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: none;
}

.brand-text.white {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}

.brand-link {
  padding-top: 8px;
  padding-bottom: 8px;
}

.brand-link.w--current {
  color: #a6d6ff;
}

.section {
  position: relative;
  padding: 80px 10px;
  background-image: -webkit-linear-gradient(45deg, #cf404d, #fd7072 98%), -webkit-linear-gradient(270deg, #ff7e5f, #ff7e5f);
  background-image: linear-gradient(45deg, #cf404d, #fd7072 98%), linear-gradient(180deg, #ff7e5f, #ff7e5f);
  text-align: center;
}

.hero-section {
  padding-top: 190px;
  padding-bottom: 120px;
  background-image: -webkit-linear-gradient(339deg, #f6636c, #ff8b7c);
  background-image: linear-gradient(111deg, #f6636c, #ff8b7c);
}

.hero-section._1 {
  margin-bottom: 100px;
}

.khuyen-text {
  margin-top: 30px;
  margin-bottom: 16px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 10px;
}

.khuyen-text.centered {
  margin-bottom: -24px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-subheading.center {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.section-title-group {
  margin-bottom: 60px;
}

.form-field {
  height: 45px;
  margin-bottom: 17px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, .3);
}

.form-field.text-area {
  height: 110px;
}

.footer {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(0deg, #f6636c, #ff8b7c);
  background-image: linear-gradient(90deg, #f6636c, #ff8b7c);
}

.footer.center {
  border-top: 1px solid #dbdbdb;
  background-color: #383838;
  text-align: center;
}

.footer.about-footer {
  position: absolute;
  display: block;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9e9e9e;
  font-size: 16px;
}

.info-icon {
  float: left;
}

.old-home-footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.old-home-footer-link:hover {
  color: rgba(0, 140, 255, .84);
}

.old-home-footer-link.with-icon {
  margin-left: 30px;
}

.form {
  margin-top: 40px;
}

.body {
  background-image: none;
  font-family: Vollkorn, serif;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-3 {
  padding: 0px 36px;
}

.last-call-btn {
  margin-right: auto;
  margin-left: auto;
  padding-top: 13px;
  padding-bottom: 19px;
  border-radius: 15px;
  background-image: -webkit-linear-gradient(270deg, #4353ff, #4353ff);
  background-image: linear-gradient(180deg, #4353ff, #4353ff);
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #f0f0f0;
  font-size: 25px;
  text-align: center;
}

.tos-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  display: none;
  height: 100%;
  padding-top: 90px;
  background-color: rgba(25, 32, 36, .5);
  text-align: center;
}

.signed-up-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  display: none;
  height: 100%;
  padding-top: 90px;
  background-color: rgba(25, 32, 36, .5);
  text-align: center;
}

.verification-success-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  display: none;
  height: 100%;
  padding-top: 90px;
  background-color: rgba(25, 32, 36, .5);
  text-align: center;
}

.verification-failure-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  display: none;
  height: 100%;
  padding-top: 90px;
  background-color: rgba(25, 32, 36, .5);
  text-align: center;
}

.custom-container {
  display: block;
  max-width: 1100px;
  margin-top: -90px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-6 {
  padding-top: 80px;
  padding-right: 40px;
  padding-left: 40px;
}

.row-7 {
  display: block;
  padding-right: 30px;
  padding-left: 35px;
}

.title-caption {
  margin-top: 30px;
  margin-bottom: 50px;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  text-align: left;
}

.title-heading-text {
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 35px;
  line-height: 40px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
}

.image-5 {
  max-width: 100%;
}

.mask {
  display: block;
  padding: 40px 50px 0px;
}

.mask.cover {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.slide {
  text-align: center;
}

.slide.cover {
  display: inline-block;
}

.slide-background {
  display: none;
}

.left-arrow {
  display: none;
}

.right-arrow {
  display: none;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
  text-align: left;
}

.slider {
  height: 350px;
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.slider.cover {
  height: 100%;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.slider.stories {
  height: 380px;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
  box-shadow: 0 0 25px 0 #e6e6e6;
}

.story-holder {
  position: static;
  display: block;
  width: 80%;
  max-width: 1000px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: center;
}

.story-image {
  height: 300px;
  margin-top: 0px;
  margin-bottom: 80px;
  border-radius: 30px;
}

.story-image.left {
  max-height: 300px;
  margin-right: 180px;
  border-radius: 15px;
}

.story-image.right {
  max-height: 300px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
}

.story-image.card {
  display: block;
  height: 75px;
  margin: 30px auto 20px;
  border-radius: 100%;
}

.story-text {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #676770;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  text-align: left;
}

.story-text.center {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.story-row {
  margin-top: 100px;
  margin-bottom: 100px;
}

.content-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #676770;
}

.insta-section {
  text-align: center;
}

.text-block-2 {
  margin-top: 100px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, .7);
  font-size: 35px;
  line-height: 70px;
  font-weight: 600;
  text-align: center;
}

.text-block-3 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.text-block-3.link {
  font-weight: 400;
}

.text-block-3.link.w--current {
  font-weight: 400;
}

.mobile-slide-div {
  display: none;
}

.section-3 {
  position: relative;
  z-index: 1;
  margin: 120px 28% 100px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.about-header {
  margin-top: 50px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, .7);
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  text-align: left;
}

.text-block-4 {
  color: rgba(0, 0, 0, .6);
  line-height: 26px;
  text-align: left;
}

.text-block-4.subheading {
  padding-bottom: 50px;
  text-align: center;
}

.heading {
  color: #ee3d6e;
}

.heading.socks-header {
  margin-top: 80px;
  text-align: center;
}

.text-block-5 {
  margin-top: 45px;
  margin-bottom: 35px;
  color: #676770;
  font-size: 28px;
  text-align: center;
}

.text-block-6 {
  padding-right: 0px;
  padding-left: 0px;
  color: #8e8e9c;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  text-align: left;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
}

.button-3 {
  margin-right: auto;
  margin-left: auto;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #e56c6f;
  font-size: 18px;
}

.div-block-15 {
  padding-top: 33px;
  padding-bottom: 62px;
  text-align: center;
}

.column-9 {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.column-10 {
  left: 0px;
  top: 0px;
  bottom: 0px;
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
}

.row-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.body-2 {
  padding-bottom: 50px;
}

.heading-2 {
  text-align: center;
}

.container-2 {
  padding-top: 70px;
  padding-right: 40px;
  padding-left: 40px;
}

.heading-3 {
  margin-top: 20px;
}

.heading-4 {
  color: #8e8e9c;
  font-weight: 400;
  text-align: center;
}

.image-6 {
  display: block;
  margin-top: -2px;
  margin-right: auto;
  margin-left: auto;
}

.heading-5 {
  margin-bottom: -35px;
  font-family: 'Open Sans', sans-serif;
  color: #ee3d6e;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}

.heading-6 {
  color: #676770;
  font-size: 2px;
  font-weight: 300;
  text-align: center;
}

.text-block-7 {
  font-family: 'Open Sans', sans-serif;
  color: #192024;
  font-size: 25px;
  text-align: left;
}

.text-block-7.center {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.image-7 {
  display: none;
  margin-right: 14px;
}

.button-4 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.button-5 {
  padding: 15px 30px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, .7);
  font-weight: 600;
}

.image-8 {
  max-width: 75%;
  margin-left: -30px;
}

.column-11 {
  padding-left: 0px;
}

.image-9 {
  max-width: 75%;
  padding-right: 0px;
}

.image-10 {
  width: 150px;
  margin-right: 10px;
}

.image-11 {
  width: 150px;
}

.slider-story-photo {
  height: 80px;
  margin: 20px auto;
  border-radius: 100%;
}

.story-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 45px;
  padding: 50px 45px;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
  box-shadow: 0 0 22px 0 rgba(25, 32, 36, .05);
}

.story-container:hover {
  box-shadow: 0 0 26px 0 rgba(25, 32, 36, .1);
}

.story-container.left {
  width: 100%;
  margin-bottom: 40px;
}

.story-container.right {
  width: 100%;
}

.story-cards-container {
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.column-13 {
  padding-right: 20px;
  padding-left: 0px;
}

.column-14 {
  padding-right: 0px;
  padding-left: 20px;
}

.text-block-8 {
  width: 50%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
  color: #192024;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.div-block-17 {
  width: 37%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 70px;
}

.div-block-18 {
  height: 100px;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(270deg, #f56972, #f56972);
  background-image: linear-gradient(180deg, #f56972, #f56972);
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
}

.text-block-9 {
  font-family: 'Open Sans', sans-serif;
  color: #f56972;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
}

.text-block-9.pink {
  color: #f56972;
}

.text-block-10 {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, .7);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.text-block-10.black {
  color: #192024;
}

.div-block-19 {
  padding-top: 130px;
  padding-bottom: 70px;
  border-style: none;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
}

.image-12 {
  display: block;
  max-width: 55%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.image-13 {
  display: block;
  max-width: 30%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.navbar.navigation-bar {
  display: none;
  margin-bottom: 150px;
}

.navbar.navigation-bar.home {
  margin-bottom: 120px;
  color: #fff;
}

.navbar.navigation-bar.about {
  display: block;
  margin-top: 61px;
  margin-bottom: 0px;
}

.nav-link {
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, .7);
  font-weight: 600;
}

.nav-link:hover {
  color: rgba(0, 0, 0, .9);
}

.nav-link-2 {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, .7);
  font-weight: 600;
}

.nav-link-2:hover {
  color: rgba(0, 0, 0, .9);
}

.nav-link-3 {
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, .7);
  font-weight: 600;
}

.nav-link-3:hover {
  color: rgba(0, 0, 0, .9);
}

.nav-link-4 {
  color: #f56972;
}

.nav-link-4.w--current {
  font-family: 'Open Sans', sans-serif;
  color: #f56972;
  font-weight: 600;
}

.nav-link-4.w--current:hover {
  color: #e64c40;
}

.container-3 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.link-block {
  margin-left: 21%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}

.div-block-20 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20%;
}

.navbar-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
}

.heading-7 {
  margin-top: -20px;
  color: #535455;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.get-socks-button {
  margin-top: 32px;
  margin-bottom: 20px;
  padding: 15px 50px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, #e56c6f, #e56c6f);
  background-image: linear-gradient(180deg, #e56c6f, #e56c6f);
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 600;
}

.column-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 73px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  margin-left: 8px;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-24 {
  width: 100%;
  margin-right: 8px;
  margin-left: 8px;
  padding-right: 8px;
  padding-left: 8px;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000004, 0.6000000000000004);
  -ms-transform: scale(0.6000000000000004, 0.6000000000000004);
  transform: scale(0.6000000000000004, 0.6000000000000004);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

html.w-mod-js *[data-ix="modalinteraction"] {
  display: none;
  opacity: 0;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

@media (max-width: 991px) {
  .navigation-link {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: transparent;
    color: rgba(0, 0, 0, .8);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
  .navigation-link:hover {
    color: #fd7072;
  }
  .navigation-link.w--current {
    color: #fff;
  }
  .navigation-bar {
    margin-top: -1px;
    padding-top: 0px;
  }
  .hamburger-button.w--open {
    background-color: #2d3e4f;
  }
  .navigation-menu {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    display: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #fff;
  }
  .brand-link {
    margin-left: 3%;
  }
  .brand-link.w--current {
    display: block;
  }
  .hero-section {
    padding-bottom: 175px;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .container {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 10px;
  }
  .icon {
    color: #edeff2;
  }
  .icon:hover {
    color: #fff;
  }
  .column-6 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .title-caption {
    margin-top: 10px;
    font-size: 18px;
    line-height: 35px;
  }
  .title-heading-text {
    font-size: 30px;
  }
  .slider {
    height: 200px;
  }
  .story-holder {
    padding-right: 25px;
    padding-left: 25px;
  }
  .text-block-3 {
    line-height: 26px;
    text-align: center;
  }
  .section-3 {
    margin: 90px 100px 100px;
  }
  .about-header {
    margin-top: 40px;
  }
  .text-block-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .text-block-5 {
    margin-bottom: 40px;
  }
  .text-block-6 {
    font-weight: 300;
  }
  .column-10 {
    padding-top: 25px;
  }
  .heading-4 {
    margin-top: 0px;
    color: #8e8e9c;
    font-weight: 400;
    text-align: center;
  }
  .image-6 {
    margin-top: 32px;
  }
  .heading-5 {
    color: #ee3d6e;
    font-weight: 600;
  }
  .icon-2 {
    color: #fff;
  }
  .column-13 {
    padding-right: 0px;
  }
  .text-block-8 {
    width: 70%;
  }
  .div-block-17 {
    width: 55%;
  }
  .image-12 {
    max-width: 70%;
  }
  .image-13 {
    max-width: 28%;
  }
  .navbar.navigation-bar {
    position: relative;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .icon-3 {
    display: block;
    color: #676770;
  }
  .link-block {
    margin-left: 6%;
  }
  .div-block-21 {
    position: relative;
    z-index: 2;
    margin-right: 6%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
  }
  .menu-button-2.w--open {
    background-color: transparent;
  }
  .nav-menu {
    background-color: #fff;
  }
}

@media (max-width: 767px) {
  .button.full-width {
    margin-right: auto;
    margin-left: auto;
  }
  .navigation-link {
    padding-bottom: 20px;
  }
  .navigation-bar {
    margin-top: -25px;
    padding-top: 0px;
  }
  .hero-section {
    padding-bottom: 125px;
  }
  .khuyen-text.centered {
    margin-top: 0px;
  }
  .form-field.text-area {
    display: block;
  }
  .spc {
    margin-bottom: 30px;
  }
  .container {
    padding-top: 22px;
  }
  .div-block-3 {
    display: block;
    width: 308px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-6 {
    padding-top: 50px;
  }
  .row-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .title-caption {
    padding-right: 0px;
    line-height: 35px;
    text-align: center;
  }
  .title-heading-text {
    text-align: center;
  }
  .mask {
    display: block;
  }
  .slide {
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slider {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .story-holder {
    display: block;
  }
  .story-image {
    height: 300px;
  }
  .story-image.left {
    margin-right: auto;
    margin-left: auto;
  }
  .story-image.right {
    margin-right: auto;
    margin-left: auto;
  }
  .story-text {
    padding-right: 10px;
    padding-left: 10px;
  }
  .insta-section {
    padding-bottom: 40px;
  }
  .column-8 {
    display: block;
    margin-top: 30px;
  }
  .story-slider {
    padding-left: 0px;
    background-color: transparent;
  }
  .story-div-slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .story-image-slider {
    height: 300px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .story-text-slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 300px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 5px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #8e8e9c;
  }
  .mobile-slide-div {
    display: block;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .slide-nav {
    display: none;
  }
  .right-arrow-2 {
    display: none;
  }
  .left-arrow-2 {
    display: none;
  }
  .section-3 {
    margin-right: 50px;
    margin-left: 50px;
  }
  .text-block-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-15 {
    padding-top: 35px;
    padding-bottom: 40px;
  }
  .column-9 {
    padding-top: 40px;
  }
  .column-10 {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
  }
  .row-8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .heading-4 {
    margin-bottom: 0px;
  }
  .image-6 {
    max-width: 70%;
    margin-top: 15px;
  }
  .image-8 {
    width: 130px;
    margin-left: 0px;
    padding-top: 15px;
  }
  .image-9 {
    width: 130px;
    float: none;
    clear: none;
    text-align: left;
  }
  .div-block-16 {
    width: 310px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .text-block-8 {
    width: 90%;
  }
  .div-block-17 {
    width: 80%;
  }
  .text-block-10 {
    margin-bottom: 30px;
  }
  .image-12 {
    max-width: 80%;
  }
  .image-13 {
    max-width: 28%;
  }
  .heading-7 {
    margin-top: -10px;
  }
  .div-block-23 {
    display: block;
    width: 240px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}

@media (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }
  .navigation-bar {
    margin-top: -10px;
    padding-top: 10px;
  }
  .hamburger-button.w--open {
    background-color: #2d3e4f;
  }
  .navigation-menu {
    left: 0px;
    z-index: 1;
    background-color: #fff;
  }
  .hero-section {
    overflow: hidden;
    padding-bottom: 50px;
  }
  .section-subheading.center {
    line-height: 30px;
  }
  .footer {
    position: relative;
    display: block;
    padding-top: 28px;
    padding-bottom: 45px;
  }
  .container {
    padding-top: 0px;
  }
  .div-block-3 {
    display: block;
    overflow: visible;
    width: 308px;
    max-width: 90vw;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .icon {
    color: #edeff2;
  }
  .icon:hover {
    color: #fff;
  }
  .custom-container {
    display: block;
    margin-top: -130px;
    margin-left: auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .column-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .row-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .title-caption {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-bottom: 50px;
    padding-right: 0px;
    padding-bottom: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  .title-heading-text {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 27px;
    text-align: center;
  }
  .image-5 {
    display: block;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .slide {
    position: relative;
    display: inline-block;
    overflow: visible;
    text-align: center;
  }
  .div-block-14 {
    padding-top: 5px;
  }
  .slider {
    display: block;
    overflow: hidden;
  }
  .story-image.card {
    height: 60px;
  }
  .story-text.center {
    font-size: 14px;
    line-height: 24px;
  }
  .text-block-2 {
    font-size: 32px;
  }
  .text-block-3 {
    font-size: 14px;
    line-height: 24px;
  }
  .column-8 {
    position: relative;
    display: block;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .story-slider {
    position: relative;
    overflow: hidden;
    min-height: 600px;
  }
  .story-div-slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .story-image-slider {
    width: 95vw;
    height: 95vw;
    max-height: 300px;
    max-width: 300px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .story-text-slider {
    position: static;
    display: block;
    overflow: visible;
    max-width: 300px;
    min-height: 250px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .mobile-slide-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slide-3 {
    display: inline-block;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .slide-4 {
    overflow: hidden;
    margin-bottom: 0px;
  }
  .mask-2 {
    display: inline-block;
    width: 100%;
    min-height: 500px;
  }
  .section-3 {
    margin: 70px 20px 100px;
  }
  .about-header {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 27px;
    text-align: center;
  }
  .text-block-4 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 14px;
    line-height: 24px;
  }
  .slide-5 {
    overflow: hidden;
  }
  .slide-6 {
    overflow: hidden;
  }
  .slide-7 {
    overflow: hidden;
  }
  .slide-8 {
    overflow: hidden;
  }
  .link {
    color: #fff;
  }
  .text-block-5 {
    margin-bottom: 10px;
  }
  .text-block-6 {
    text-align: left;
  }
  .column-9 {
    padding-top: 30px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-10 {
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
  }
  .image-6 {
    max-width: 100%;
  }
  .heading-5 {
    text-align: center;
  }
  .image-10 {
    width: 180px;
  }
  .image-11 {
    width: 180px;
    margin-top: 15px;
  }
  .div-block-16 {
    width: 180px;
  }
  .story-container {
    margin-bottom: 35px;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .story-cards-container {
    width: 85%;
  }
  .column-14 {
    padding-left: 0px;
  }
  .text-block-8 {
    width: 75%;
    font-size: 14px;
  }
  .text-block-10 {
    margin-bottom: 30px;
  }
  .image-12 {
    max-width: 90%;
  }
  .image-13 {
    max-width: 40%;
  }
  .menu-button {
    background-color: transparent;
  }
  .menu-button.w--open {
    z-index: 3;
    background-color: rgba(0, 152, 255, 0);
  }
  .div-block-24 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-27 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}